# Файл для секретів (на випадок, якщо ви створите його локально)
.env

# Папка віртуального середовища Python
venv/
.venv/

# Кеш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Файли конфігурації IDE (приклади)
.idea/
.vscode/
